.potfolio{
              
   &__card{
    max-width: 550px;
    padding: 20px;
    &__title{
        font-size: 25px;
    }
    .card__item{
        font-size: 25px;
        color: $bg-py;
    }
    .card__img{
        height: 500px;
    }
}


  
}
.portfolio__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    .portfolio__title{
        margin-top: 100px;
        color: $bg-py;
        font-size: 48px;
        font-weight: 600;
        text-align: center;
            }

         